{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<div class="content-wrapper">
   
    <!-- Main content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card card-info">
					<div class="card-header">
						Create Customer
						 {{ formActionLabel|default('app_customer')|trans ~ ' ' ~ title |trans }}
					</div>
                    <div class="card-body">
                     <div class="panel-body table-responsive">   {{ sg_datatables_render(datatable) }}</div>

						
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


